<div class="contentmiddle">
  <div class="leftcontentgradient"></div>
  <div class="centercontentgradient">
    <div id="guestmain">
      <%= render 'shared/guest_sub_tab' %>
      <div class="midbgrepeat">
        <div class="midbgleft"></div>
        <div class="midcontent">
          <%= render '/shared/side_bar' %>
          <div class="midright">
            <div class="midrighttop">
              <div class="midrighttopleft"></div>
              <div class="midrighttopcenter">
                <div class="midrighttoplinks">
                  <div style="float:right">
                    <div class="midrighttoplinkdiv">
                      <%= link_to "New Guest" , new_guest_path,  :class => 'midrighttoplink'%>
                    </div>

                  </div>
                </div>
              </div>
              <div class="midrighttopright"></div>
            </div>
            <div class="data" >
              <div class="datahead">
                <div  class="dataheaddiv" style="width:850px; text-align: left; border: 0; font-weight: bold;">
                  <div id="file_upload">
                    <%= form_tag  csv_import_guests_path, :multipart => true do |f| %>
                      <table cellpadding="2" cellspacing="2" width="100%">
                        <tr>
                          <td>
                            <label for="dump_file">
                              Select a CSV File in exact form given below::
                            </label>
                          </td>
                          <td >
                            <%= file_field_tag :file %>
                          </td>
                          <td><%= submit_tag 'Submit', :class => 'input_button' %></td>
                        </tr>
                      </table>
                      <table style="background-color: #2369A5">
                        <tr>
                          <td><b><i>Format of csv file</i></b></td>
                        </tr>
                        <tr>
                          <td>
                            <p>Name|Email|Role_name|Gender|Status(Active/Inactive)|Date of birth|Date of Anniversary|Billing address one|Billing address two|Billing street|Billing city|Billing country|Billing pin code|Billing telephone|Billing mobile|Shipping address one|Shipping address two|Shippipng city|Shipping country|Shipping pin code|Shipping telephone|Shipping mobile|Email alert|Sms alert|Spa location|Person|Staff|Membership type|Service package </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold; padding-left:55%; padding-top: 11px">Link to Download empty Csv file &nbsp; <%= button_to_function 'Download', "window.location.href= '#{get_empty_csv_guests_path}'", :class => 'input_button'  %></td>
                        </tr>
                      </table>
                    <% end -%>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="midbgright"></div>
      </div>
    </div>
  </div>
  <div class="rightcontentgradient"></div>
</div>