<script type="text/javascript">
  $(document).ready(function(){
    $("#click").click(function(){
      $("#advanced_search_tab").toggle();
    });
  });
</script>
<div class="contentmiddle">
  <div class="leftcontentgradient"></div>
  <div class="centercontentgradient">
    <div id="guestmain">
      <%= render 'shared/role_sub_tab' %>
      <div class="midbgrepeat">
        <div class="midbgleft"></div>
        <div class="midcontent">
          <%= render "/shared/side_bar" %>
          <div class="midright">
            <div class="midrighttop">
              <div class="midrighttopleft"></div>
              <div class="midrighttopcenter">
                <div class="midrighttoplinks">
                  <div style="float:right">
                    <div class="midrighttoplinkdiv">
                      <%=link_to "New Role" , new_role_path ,  :class => 'midrighttoplink'%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="midrighttopright"></div>
            </div>

            <div class="dataheaddiv" style="width:850px; text-align: left; border: 0; font-weight: bold;" >
              Search Criteria
            </div>
            <div class="search_tab_right">
              <%= form_tag search_roles_path, :method => :get do %>
                Name : <%= text_field_tag :role_query %>
                <div style="padding-left:55px; padding-top: 10px">
                  <div id="click" >+ Advanced Search</div>
                </div>

                <br />
                <div>
                  <div id="advanced_search_tab" style="display: none ">
                    <div style="padding-left:55px">
                      <%= check_box_tag :active %>Active
                      <%= check_box_tag :inactive %> Inactive
                    </div>
                    <div style="padding-left:60px; padding-top: 10px ">
                      <%= submit_tag 'Search', :class => 'input_button' %>
                    </div>
                  </div>

                </div>

              <% end %>
            </div>
            <%= form_tag delete_selected_roles_path, :method => :delete do %>
              <div class="data" >
                <div class="datahead">
                  <div class="dataheaddiv" style="width: 100%; text-align: left; border: 0">
                    <%= select_tag :per_page, options_for_select([10, 20, 30, 50], params[:per_page]), :onchange => "reload_with_new_param('per_page', this.value)"  %>
                  </div>

                </div>
                <div class="datahead">
                  <div class="dataheadoptions">
                    <input type="checkbox" id="total_roles" onclick="select_all_roles(<%= @roles.length %>)"/>
                  </div>
                  <div class="dataheaddiv" style="width:190px; padding-left: 3px">
                    Name
                    <% if params[:by] == 'ASC' %>
                      <%= link_to image_tag("uparrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'name', :by => 'DESC' %>
                    <% else %>
                      <%= link_to image_tag("arrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'name', :by => 'ASC' %>
                    <% end %>
                  </div>
                  <div class="dataheaddiv" style="width:350px" >
                    Description
                  </div>
                  <div class="dataheaddiv" style="width:250px">
                    Status
                  </div>
                </div>
                <% i = 0 %>
                <% @roles.each do |role|  %>

                  <div class="datahead" style="background-color: <%= cycle("#cce9ed","#f0f8fa") %>">
                    <div class="datarowoptions">
                      <input type="checkbox" name="role_ids[]" id="role_<%= i %>" value="<%= role.id %>"/>
                    </div>

                    <div class="dataheaddivwhite" style="width:190px ; padding-left: 5px">
                      <%= link_to role.name, role_path(role) %>
                    </div>

                    <div class="dataheaddivwhite" style="width:350px">
                      <%= role.description.nil? ? "Unknown" : role.description %>
                    </div>

                    <div class="databellowdiv" style="width:240px">
                      <div id="status_<%= role.id %>"></div>
                      <%= select_tag :status, options_for_select([['Active', 'Active'], ['Inactive', 'Inactive']],  role.status), :onchange => "update_role_status('#{ role.id }', this.value)"  %>
                    </div>
                  </div>
                  <% i += 1 %>
                <% end %>
              </div>
              <div style="clear: both; height: 10px"></div>
              <div class="pagination">
                <%= will_paginate @roles  %>
              </div>
              <div style="clear: both; height: 10px"></div>
              <%= submit_tag 'Delete', :onclick => "return validate_roles_to_delete(#{@roles.length})", :class => 'input_button'  %>
            <% end %>
          </div>
        </div>
        <div class="midbgright"></div>
      </div>
    </div>
  </div>
  <div class="rightcontentgradient"></div>
</div>























