<script type="text/javascript" src="/javascripts/jquery-latest.pack.js"></script>
<script>

  $(document).ready(function() {

    //select all the a tag with name equal to modal
    $('a[name=modal]').click(function(e) {
      //Cancel the link behavior
      e.preventDefault();

      //Get the A tag
      var id = $(this).attr('href');

      //Get the screen height and width
      var maskHeight = $(document).height();
      var maskWidth = $(window).width();

      //Set heigth and width to mask to fill up the whole screen
      $('#mask').css({'width':maskWidth,'height':maskHeight});

      //transition effect
      $('#mask').fadeIn(1000);
      $('#mask').fadeTo("slow",0.8);

      //Get the window height and width
      var winH = $(window).height();
      var winW = $(window).width();

      //Set the popup window to center
      $(id).css('top',  winH/2-$(id).height()/2);
      $(id).css('left', winW/2-$(id).width()/2);

      //transition effect
      $(id).fadeIn(2000);

    });

    //if close button is clicked
    $('.window .close').click(function (e) {
      //Cancel the link behavior
      e.preventDefault();

      $('#mask').hide();
      $('.window').hide();
    });

    //if mask is clicked
    $('#mask').click(function () {
      $(this).hide();
      $('.window').hide();
    });

  });

</script>
<style>

  #mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
  }

  #boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
  }

  #boxes #dialog {
    width:375px;
    height:305px;
    padding:10px;
    background-color:#ffffff;
  }

  #boxes #dialog1 {
    width:375px;
    height:203px;
  }


  #dialog1 .d-header input {
    position:relative;
    top:60px;
    left:100px;
    border:3px solid #cccccc;
    height:22px;
    width:200px;
    font-size:15px;
    padding:5px;
    margin-top:4px;
  }


  #dialog1 .d-login {
    float:left;
    width:108px;
    height:53px;
  }

</style>

<table cellpadding="0" cellspacing="0" width="100%">
  <tr valgin="top">
    <td colspan="3">
      <br />
      <%=link_to "Find All Leaves", leave_applications_path %>&nbsp;
      <a href="#dialog" name="modal">Apply new leave</a>&nbsp;
      <p></p>
    </td>
  </tr>
  <tr valgin="top">
    <td>
      <table width="100%" height="100%" border="2">
        <tr >
        <tr>
          <th>Leave from</th>
          <th>Leave to</th>
          <th>Type Of Leave</th>
          <th>Reason For Leave</th>
          <th>Leave Status</th>
        </tr>
        <th></th>
  </tr>
  <tr align="center">
    <% for leave_application in @leave_applications %>
    <tr>
      <td><%= leave_application.from %></td>
      <td><%= leave_application.to %></td>
      <td><%= leave_application.type_of_leave %></td>
      <td><%= leave_application.reason_for_leave %></td>
      <% if leave_application.leave_approval != true %>
        <td>&nbsp;Pending</td>
      <% end %>
    </tr>
  <% end %>
</tr>

<tr>
  <td align="center" colspan="11">
    <%= will_paginate @leave_applications   %>
  </td>
</tr>
</table>
</td>
</tr>
</table>

<div id="boxes">

  <div id="dialog" class="window">
    Leave application |
    <a href="#"class="close"/>Close it</a>
    <%= render :partial => 'form' %>
  </div>
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>







