
<div class="contentmiddle">
  <div class="leftcontentgradient"></div>
  <div class="centercontentgradient">
    <div id="guestmain">
      <%= render 'shared/location_sub_tab' %>
      <div class="midbgrepeat">
        <div class="midbgleft"></div>
        <div class="midcontent">
          <%= render "/shared/side_bar" %>
          <div class="midright">
            <div class="midrighttop">
              <div class="midrighttopleft"></div>
              <div class="midrighttopcenter">
                <div class="midrighttoplinks">
                  <div style="float:right">
                    <div class="midrighttoplinkdiv">
                      <%= link_to "New Location" , new_location_path,  :class => 'midrighttoplink'%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="midrighttopright"></div>
            </div>
            <div class="dataheaddiv" style="width:850px; text-align: left; border: 0; font-weight: bold;" >
              Search Criteria
            </div>
            <div class="search_tab_right">

              <%= form_tag(search_locations_path, :method=>'post', :multipart => true) do %>

                Name : <%= text_field_tag "name", params[:name] %>
                City : <%= text_field_tag "city", params[:city] %>
                Status : <%= select_tag :status,  options_for_select(["Active" ,"Inactive"],params[:status])  %>
                <%= submit_tag 'Search', :class => "input_button"%>
              <%end%>
            </div>

            <%= form_tag delete_selected_locations_path, :method => :delete do %>
              <div class="data" >
                <div class="datahead">
                  <div class="dataheaddiv" style="width: 100%; text-align: left; border: 0">
                    <%= select_tag :per_page, options_for_select([10, 20, 30, 50], params[:per_page]), :onchange => "reload_with_new_param('per_page', this.value)"  %>
                  </div>

                </div>

                <div class="datahead">
                  <div class="dataheadoptions">
                    <input type="checkbox" id="total_locations" onclick="select_all_locations(<%= @locations.length %>)"/>                       </div>
                  <div class="dataheaddiv" style="width:190px">
                    Name
                    <% if params[:by] == 'ASC' %>
                      <%= link_to image_tag("uparrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'name', :by => 'DESC' %>
                    <% else %>
                      <%= link_to image_tag("arrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'name', :by => 'ASC' %>
                    <% end %>
                  </div>
                  <div class="dataheaddiv">
                    Address1
                  </div>
                  <div class="dataheaddiv">
                    City
                  </div>
                  <div class="dataheaddiv">
                    Country
                    <% if params[:by] == 'ASC' %>
                      <%= link_to image_tag("uparrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'country', :by => 'DESC' %>
                    <% else %>
                      <%= link_to image_tag("arrow.gif", :width => "8", :height => "9", :border => "0"), :action => 'index', :order => 'country', :by => 'ASC' %>
                    <% end %>
                  </div>
                  <div class="dataheaddiv" style="width:90px">
                    Phone
                  </div>
                  <div class="dataheaddiv" style="width:150px">
                    Status
                  </div>
                </div>
                <% i = 0 %>
                <% @locations.each do |location|  %>
                  <div class="datahead" style="background-color: <%= cycle("#cce9ed","#f0f8fa") %>">
                    <div class="datarowoptions">
                      <input type="checkbox" name="location_ids[]" id="location_<%= i %>" value="<%= location.id %>"/>
                    </div>
                    <div class="dataheaddivwhite" style="width:190px; padding-left: 5px">
                      <%= link_to location.name, location_path(location) %>
                    </div>
                    <div class="databellowdiv">
                      <%= location.address1.nil? ? "Unknown" : location.address1  %>
                    </div>
                    <div class="dataheaddivwhite">
                      <%= location.city.nil? ? "None" : location.city %>
                    </div>
                    <div class="databellowdiv">
                      <%= location.country.nil? ? "None" : location.country %>
                    </div>
                    <div class="databellowdiv" style="width:90px">
                      <%= location.phone1.nil? ? "None" : location.phone1 %>
                    </div>
                    <div class="databellowdiv" style="width:100px;">
                      <div  id="status_<%= location.id %>"></div>
                      <%= select_tag :status, options_for_select([['Active', 'Active'], ['Inactive', 'Inactive']],  location.status), :onchange => "update_location_status('#{ location.id }', this.value)"  %>
                    </div>
                  </div>
                  <% i += 1 %>
                <% end %>
              </div>
              <div style="clear: both; height: 10px"></div>
              <div class="pagination">
                <%= will_paginate @locations  %>
              </div>
              <div style="clear: both; height: 10px"></div>
              <%= submit_tag 'Delete', :onclick => "return validate_locations_to_delete(#{@locations.length})", :class => "input_button" %>
            <%end%>
          </div>
        </div>
        <div class="midbgright"></div>
      </div>
    </div>
  </div>
  <div class="rightcontentgradient"></div>
</div>


















